NiTs in QUIC-4-Sat (while editing)

Some additional nits while you are edit...

- abstract
/This may could limit/This limits/

- abstract
/satellites satellite capacity/a satellite network segment/

- abstract
/guaranting good end-to-end quality of experience is complicated/complicating the characteristics, which if not addressed will degrade the end-to-end quality of experience/

/Moreover, satellite systems has/Moreover, satellite communications (SATCOM) systems have/

/includes satellites satellite capacity together/includes satellite link together/

/sometimes the/sometimes know the/

/Highly asymmetric links/Links can be highly asymmetric/

/takes a long time/takes a long time to complete,/

/Adaptations on QUIC for SATCOM/Mechanisms that improve the performance of QUIC for SATCOM/

/   The security is provided by the 1-RTT phase.  The measure of BDP is
   made during a previous connection.  The exchange and the information
   are protected both by the TLS encryption and the NewSessionTicket
   (see section 4.6.1 of [RFC8446]).

   The BDP information the server will received is protected in the
   opaque session ticket.  The 'BDP_data' field is visible by the client
   only.  An client which does not trust the server transport adaptation
   ignores any session ticket associated to a 'BDP_data' field./
Replace by:
/  This document does not propose changes to the security functions
   provided by the QUIC protocol. QUIC uses TLS encryption to
   protect the transport header and its payload. Security is considered
   in the "Security Considerations" of cited IETF documents./

Thanks. Closed by PR #53 