ACK Ratio

If we have a section on ACK Ratio we probably should cite RFC3449.

Asymmetry in capacity (or in the way capacity is granted to a flow) can lead to cases where the throughput in one direction of communication is restricted by the acknowledgement traffic flowing in the opposite direction. The limitations of specific underlying networks could be in terms of the volume of acknowledgement traffic (limited return path capacity) or in the number of acknowledgement packets (e.g., when a radio-resource management system has to track channel usage) or both. Performance can be improved by changing the acknowledgement traffic ([RFC3349] and [RFC 5690] describe various approachs). One simple method is to tell the remote endpoint to send compound acknowledgments less frequently. A rate of one ACK every RTT/4 can significantly reduce this traffic.

The QUIC transport specification may evolve to allow the ACK Ratio to be adjusted.

Closed by PR #49 